<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Didnow Tech</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2644307079267614"
     crossorigin="anonymous"></script>
	</head>
	<body>
		{% include 'includes/_navbar.html' %}
		<div class="container">
			{% include 'includes/_messages.html' %}
			{% block body %}{% endblock %}
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js"></script>
	</body>
</html>
