{% extends 'layout.html' %} 

{% block body %}
 <h1>Pythagoras Calculator</h1>
    <form action="/pythagoras" method="POST">
        <input type="text" name="side" placeholder="Enter side (hyp, adj, or opp)" required><br>
        <input type="number" name="a" placeholder="Enter number for side a" required><br>
        <input type="number" name="b" placeholder="Enter number for side b" required><br>
        <button type="submit">Calculate</button>
    </form>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ92P4GGDB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ92P4GGDB');
</script>    
{% endblock %}