{% extends 'layout.html' %} 

{% block body %}
     <h1>YouTube Downloader</h1>
    <form action="/youtube_downloader" method="POST">
        <label for="url">YouTube URL:</label><br>
        <input type="text" id="url" name="url" required><br>

        <label for="save_path">Save Path:</label><br>
        <input type="text" id="save_path" name="save_path" value="download_folder" required><br>

        <label for="itag">Desired Format:</label><br>
        <select id="itag" name="itag" required>
            {% for format in formats %}
                <option value="{{ format.itag }}">{{ format.resolution }} - {{ format.mime_type }}</option>
            {% endfor %}
        </select><br>

        <input type="checkbox" id="audio_format" name="audio_format">
        <label for="audio_format">Download as MP3</label><br>

        <button type="submit">Download</button>
    </form>
    {% if status %}
        <p>{{ status }}</p>
    {% endif %}
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/64ad70a6cc26a871b027c0bb/1h52o03o6';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% endblock %}